</div> 
<div id="content_settings_list">
     <ul >
        <li id="disable_formatting">
          <a>zablokuj formatowanie</a>
        </li>
        <li id="enable_formatting">
          <a>odblokuj formatowanie</a>
        </li>
        <li id="clear_form">
          <a>wyczyść formularz</a>
        </li>
        <li>
          <a>podgląd</a>
        </li>
        <li>
          <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)" target=blank>więcej o formatowaniu</a>
        </li>

      </ul> 
	   </div>

