<div id="categories_box">
<% Category.findCategory.each do |label| %>
  <div> <tr><td colspan="2">
    <span class="root_node_category">
      <%= image_tag 'plus_icon.jpg', :options=>{:style=>"position:relative; top:3px;"}%>

	 <%= label.name %>
    </span> </td><td></td></tr></div>

    <div class="sliding_categories_div">
<table>
      <% Category.all.each do |category| %>
    <% if category.parent_id == label.id %>
	<tr><td><span>
      <%= link_to category.name, category %></span></td>
     <td> <%= check_box('#{label.id}', '#{category.id}' ) %></td></tr>  
     </span>
    <% end %>
  <% end %></table>
</div><% end %>
</div>
