

	<div id="city_label">
		<span>Lokalizacja</span>
	</div>

	<div id="city_box">
		<span>Warszawa</span>
		<span>Kraków</span>
		<span>Wrocław</span>
		<span>Gdańsk</span>
		<span>Katowice</span>
		<span>Rzeszów</span>
		<span>cały kraj</span>
	</div>
	
	<div id="categories_label">
		<span>Kategorie</span>
	</div>

		<%=render'layouts/categories_box'%>
